<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>장소 찾기 시스템</title>
    </head>
    <body>
        <div class="container-1">
            <input type="search" id="search" onkeydown="onKeyEnter()">
        </div>
    </body>
</html>
<script type="text/javascript">
    function onKeyEnter(){
        if(window.event.keyCode == 13){
            onSearch();
        }
    }
    function onSearch(){
        var data = {
            keyword: $(#search).val()
        };
        $.ajax({
            type: 'GET',
            url: '/search',
            dataType: 'json',
        });
    }
</script>